// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap-sass/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

section {
	clear : both;
}

.rounded-circle, .rounded-circle img {
    border-radius: 50% !important;
}

.img-fluid, .img-fluid img  {
    max-width: 100%;
    height: auto;
}
.bg-light {
    background-color: #f8f9fa !important;
}
#contact-message-feedback-form .form-item{
	    color: white;
}

.social-media-sharing li {
	display: block;
	margin-bottom: 15px;
}
#bootstrap-panel {
	display: -webkit-inline-box;
    margin: 15px;
    width: 95%;

}