// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap-sass/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

body {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: -1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}