// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap-sass/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

.rounded-circle, .rounded-circle img {
    border-radius: 50% !important;
}

.img-fluid, .img-fluid img  {
    max-width: 100%;
    height: auto;
}
.bg-light {
    background-color: #f8f9fa !important;
}
#contact-message-feedback-form .form-item{
	    color: white;
}